<div class="experience">
  {{header-bar title="Experience Title" rightIconType="like"}}

  <div class="experience-content">
    <div class="red-background"></div>
    {{featured-carousel}}

    <section id="overview">
      <div class="description">
        <span class="title">Experience Title Starts Here and May Extend to Three Lines Here</span>
        <div id="location-time-container">
          <span class="location">Indianapolis, IN</span>
          <div class="time-until-event-container">
            <img src="/assets/icons/Time.svg" alt="Time">
            <span>2 Hours</span>
          </div>
        </div>
        <span class="reviews">
          <img src="/assets/icons/Star-selected.svg" alt="">
          <img src="/assets/icons/Star-selected.svg" alt="">
          <img src="/assets/icons/Star-selected.svg" alt="">
          <img src="/assets/icons/Star-selected.svg" alt="">
          <img src="/assets/icons/Star-unselected.svg" alt="">
          <span class="review-num">12 reviews</span>
        </span>
      </div>
    </section>
    <section id="details">
      <span class="title">Details</span>
      <p>Have you ever wanted to color with goths? Well, you can (sort of)! They use all black crayons! Bring one of your favorite colors (besides black) and create a masterpiece. Get to know the goths around your area and bond over black crayons… 
        <span class="read-more">read more</span></p>
    </section>
    <section>
      
    </section>
    <section>
      
    </section>
    <section>
      
    </section>
    <section>
      
    </section>
    <section>
      
    </section>
  </div>

  {{book-bar price=80}}
</div>
