
<form class="login-form">
  <h1>Login</h1>

  {{input type="email" placeholder="Email" class="login-input"}}
  {{input type="password" placeholder="Password" class="login-input"}}
  {{input type="submit" value="Submit" class="login-submit"}}

  {{#link-to "register" class="register-link"}}Need an account?{{/link-to}}
</form>