
<form class="register-login-form">
  <h1>Register</h1>

  {{input type="email" placeholder="Email" class="register-input"}}
  {{input type="password" placeholder="Password" class="register-input"}}
  {{input type="password" placeholder="Confirm " class="register-input"}}
  {{input type="submit" value="Submit" class="register-submit"}}

  {{#link-to "login" class="login-link"}}Already have an account? Log in{{/link-to}}
</form>