<div class="sign-in">
  <h1>Sign In</h1>

  <div id="form">
    {{gatekeeper-sign-in complete=(action "complete")}}
  </div>
  

  <br>
  {{#link-to "sign-up" class="sign-up-link"}}Create an account{{/link-to}}
</div>