// _theme.scss

// Font Weights
$normal: 400;
$medium: 500;
$bold: 700;

// Colors
$primary: #E74D4D;
$secondary: rgba($color: #000000, $alpha: 0.87);

// Border Radius
$radius: 5px;

// Shadow
$shadow-down: 0px 3px 6px 0px rgba(0, 0, 0, 0.089);
$shadow-up: 0px -3px 6px 0px rgba(0, 0, 0, 0.089);