
@import "_styled";


/* Remove default margin */
* {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  color: #E74D4D;
  font-size: 14px;
  -webkit-appearance: none;
}

h1 {
  font-size: 3em;
}

.register-link, .login-link {
  margin-top: 20px;
  color: #A61F2B;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y:scroll; 
  height: 100%;
  position: relative;
  margin-bottom: 50px;

  section {
    width: 100%;
    padding-bottom: 10px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.089);
  }

  .notification-container {
    width: 100%;
    height: 116px;
    margin-top: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
  }

  .featured-container {
    display: flex;
    justify-content: center;
    border-bottom: 0.5px solid rgba(211, 211, 211, 0.541);

    .content {
      width: 85%;

      .featured-listing-container {
        margin-top: 10px;
        margin-left: -30px;
      }

      .title {
        font-size: 22px;
        font-weight: bold;
        padding-top: 10px;
      }
    }
  }

  .suggested-container {
    display: flex;
    justify-content: center;
    border-bottom: 0.5px solid rgba(211, 211, 211, 0.541);

    .content {
      padding-top: 10px;
      width: 85%;

      .title {
        font-size: 22px;
        font-weight: bold;
      }

      .image-container {
        margin-top: 10px;
        margin-left: -30px;
      }

      .description {
        margin-top: 20px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;

        .tags {
          color: rgba($color: #000000, $alpha: 0.56);
          font-weight: bold;
        }

        .title {
          font-size: 20px;
          margin-bottom: 10px;
        }
        
        .location {
          color: rgba($color: #000000, $alpha: 0.87);
          font-size: 16px;
          margin-bottom: 5px;
        }

        .price {
          color: rgba($color: #000000, $alpha: 0.87);
          font-weight: normal;
          font-size: 14px;
          margin-bottom: 5px;
        }

        .reviews {
          margin-bottom: 5px;
          svg {
            width: 16px;
            fill: #E74D4D;
            stroke: #E74D4D;
          }

          .outlined-star {
            fill: white;
            stroke: #E74D4D;
            stroke-width: 40;
          }
        }

        .review-num {
          margin-left: 10px;
        }
      }
    }
  }

  .list-container {
    display: flex;
    justify-content: center;
    border-bottom: 0.5px solid rgba(211, 211, 211, 0.541);

    .content {
      padding-top: 10px;
      width: 85%;

      .title {
        font-size: 22px;
        font-weight: bold;
      }

      .list {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 20px;
      }
    }
  }

  .become-host-container {
    background-color: #E74D4D;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 100vw;

    .become-host-title {
      color: white;
      font-weight: bold;
      font-size: 20px;
      width: 300px;
      display: flex;
      justify-content: center;
      padding-top: 40px;
      text-align: center;
    }

    .become-host-details {
      color: white;
      width: 300px;
      font-size: 16px;
      display: flex;
      justify-content: center;
      text-align: center;
      padding-top: 20px;
    }
  }
}