
@import "_styled";


/* Remove default margin */
* {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  color: #E74D4D;
  font-size: 14px;
}

h1 {
  font-size: 3em;
}

.register-link, .login-link {
  margin-top: 20px;
  color: #A61F2B;
}

.explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  section {
    width: 100%;
    background-color: white;
  }

  .notification-container {
    width: 100%;
    height: 116px;
    margin-top: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .featured-container {
    display: flex;
    justify-content: center;
    border-bottom: 0.5px solid rgba(211, 211, 211, 0.541);
    padding-bottom: 10px;

    .content {
      width: 90%;

      .title {
        font-size: 22px;
        font-weight: bold;
      }

      .listing {
        height: 230px;
        display: flex;
        overflow-x: auto;
        position:absolute;
        left:0;
        right:0;
      }
    }
  }
}