<div class="explore">
  {{#search-bar}}{{/search-bar}}
  
  <section class="notification-container">
    {{#notification-box}}{{/notification-box}}
  </section>

  <section class="featured-container">
    <div class="content">
      <span class="title">Featured</span>
      <div class="listing">
        {{#featured-experience}}{{/featured-experience}}
        {{#featured-experience}}{{/featured-experience}}
        {{#featured-experience}}{{/featured-experience}}
        {{#featured-experience}}{{/featured-experience}}
        {{#featured-experience}}{{/featured-experience}}
        {{#featured-experience}}{{/featured-experience}}
      </div>
    </div>
  </section>

  <section class="suggested-container">
    <div class="content">
      <span class="title">Hi Seth, we think you'll really like this!</span>
      <div class="image">
        
      </div>
    </div>
  </section>

  <section class="list-container">

  </section>
</div>
