<div class="book-bar">
  <div class="price">
    <span id="price-num">${{experience.price}}</span>
    Per person
  </div>
  {{#link-to "nav-enabled.experiences"}}
    <div id="book-button">
      BOOK
    </div>
  {{/link-to}}
</div>
