
<div class="review-list-item">
  <span class="reviewer">{{name}}</span>
  <div class="date-rating-container">
    <span class="date">March 7, 2018</span>
    <div class="rating">
      <img src="/assets/icons/Star-selected.svg" alt="rating star">
      <img src="/assets/icons/Star-selected.svg" alt="rating star">
      <img src="/assets/icons/Star-selected.svg" alt="rating star">
      <img src="/assets/icons/Star-selected.svg" alt="rating star">
      <img src="/assets/icons/Star-unselected.svg" alt="rating star">
    </div>
  </div>
  <p>
    Amazing experience! Must-do if you enjoy cooking and
    learning new techniques! Shopped at the local butcher
    and learned the importance of different techniques in
    the kitchen.
  </p>

  <div class="custom-border"></div>
</div>



{{yield}}