<div class="featured-experience">

  <div class="image-container"></div>

  <div class="details">
    <span class="featured-title">Event Theme</span>
    <span class="featured-description">Description goes right here describe the experiences.</span>
  </div>
  {{yield}}
</div>
