<div class="featured-carousel">
  <img src="/assets/images/jump-rope.jpg" class="image" alt="carousel image">
  <img src="/assets/images/turtle.jpg" class="image" alt="carousel image">
  <img src="/assets/images/peanutbutter.jpg" class="image" alt="carousel image">
</div>
