
{{#link-to "experience" experience.id}}
  <div class="featured-experience">
    <a href="#">
      <div class="image-container">
        <img src="{{experience.avatarUrl}}" class="image-container" alt="carousel image">
      </div>
    </a>
      <div class="details">
        <span class="featured-title">{{experience.title}}<br></span>
        <p class="featured-description">{{experience.description}}</p>
      </div>
  </div>
{{/link-to}}