<div class="header-bar">
  <div>
    <a href='#' {{ action 'back' }}>
      <img
        id="left-icon"
        src="/assets/icons/LeftArrow.svg"
        alt="Left Arrow"
      >
    </a>
  </div>

  <span id="header-bar-title">{{experience.title}}</span>
  {{#if showLike}}
    {{#link-to "nav-enabled.experiences.favorites"}}
      <img id="right-icon" src="/assets/icons/Saved-Unselected.svg" alt="Favorite">
    {{/link-to}}
  {{/if}}
  {{#if showExit}}
    <img id="right-icon" src="/assets/icons/Close.svg" alt="Left Arrow">
  {{/if}}
</div>
