
<div class="my-experience-container">
  <div class="image-container"></div>
  <div class="details">
    <span class="experience-status">Coming Up</span>
    <span class="experience-tag">TAG</span>
    <span class="experience-title">Experience Title</span>
    <span class="experience-location">Indianapolis, IN</span>
    <span class="experience-date">November 16, 2018</span>
    <span class="experience-split-payment">Split Payment $230</span>
  </div>
</div>
