<div class="notification-box">
  <div class="content">
    <span class="title"> Hey, check out the new experiences!</span>
    <p>The app has been updated with many new experiences that are a lot of fun!</p>
  </div>
  
</div>
