<div class="notification-box">
  <div class="content">
    <span class="title"> Hey, this is a notification box! </span>
    <p>Any important information such as upcoming events or linking payments to your account exist here.</p>
  </div>
  {{yield}}
</div>
