// route: featured-carousel

.featured-carousel {
  margin-top: 10px;
  position: relative;
  width: 100vw;
  overflow: hidden;
  outline: none;

  .image {
    background-color: $primary;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

