// route: header-bar

.header-bar {
  background-color: $primary;
  width: 100vw;
  height: 70px;
  z-index: 100;
  box-shadow: $shadow-up;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  #header-bar-title {
    color: white;
    font-weight: bold;
    font-size: 18px;
  }

  #left-icon {
    position: absolute;
    width: 14px;
    padding-left: 20px;

    /* vertically center the icon */
    top: 50%; 
    transform: translateY(-50%);
    left: 0px;
  }

  #right-icon {
    position: absolute;
    width: 14px;
    padding-right: 20px;

    /* vertically center the icon */
    top: 50%; 
    transform: translateY(-50%);
    right: 0px;
  }
}
