// route: nav-bar

@import "theme";

.nav-bar {
  width: 100vw;
  height: 50px;
  background-color: white;
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  box-shadow: $shadow-up;

  .icon-group {
      width: calc(100vw / 3);
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
  }
}
