// route: nav-bar

.nav-bar {
  width: 100vw;
  height: 50px;
  background-color: #E74D4D;
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;

  .icon-group {
      width: calc(100vw / 3);
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
    
      .nav-bar-image {
        fill: #FFF;
        stroke: #E74D4D;
        stroke-width: 40;
        filter: invert(.5) sepia(0.1) saturate(5) hue-rotate(175deg);
            -webkit-filter: invert(100%);
        
        height: 30px;
      }
  }
}
