{{#swiper-container options=myOptions events=(hash sliderMove=(action "myClickHandler"))}}
  {{#swiper-slide}}
    <h1>favorites</h1>
    {{#each model as |experience|}}
      {{my-experience-container experience=experience}}
    {{/each}}
  {{/swiper-slide}}
{{/swiper-container}}
