<div class="my-experiences">
  <div class="my-experience-header-bar">
        <h1>My Experiences</h1>
  </div>
{{#swiper-container options=myOptions events=(hash sliderMove=(action "myClickHandler"))}}
  {{#swiper-slide}}
    
      

      <div class="content">
        <section id="present">
          <h2>Most Recent</h2>
          {{#each model as |experience|}}
            {{my-experience-container experience=experience}}
          {{/each}}
        </section>

        <section id="past">
          <h2>Past</h2>
          {{#each model as |experience|}}
            {{my-experience-container experience=experience}}
          {{/each}}
        </section>
      </div>
    
  {{/swiper-slide}}
{{/swiper-container}}
</div>
